.App {
  text-align: center;
  height: 100vh;
  /* width: 100vw; */
}
/* #root{
  height: 100vh;
  width: 100vw;
} */
header{
  padding: 30px 15px;
  display: grid;
  grid-template-columns: auto auto;
  gap:20px;
  justify-content: end;
  
  background-color: #FDEFF4;
}
header button{
  padding:10px 15px;
  font-size:12px;
  background-color: #99154E;
  color:white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
header button:hover{
  background-color: #D22779;
}
.search-form{
  margin-right: 110px;
  align-self: center;
}
.search-form input{
  font-size: 15px;
  border:none;
  border-bottom: solid 1px #99154E;
  background-color: unset;
  padding:0 10px;
  outline: none;
}
.search-form input::-webkit-input-placeholder{
  /* color:white; */
  padding:5px;
  font-size: 12px;
}
.search-title{
  color:#99154E;
}