@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  height:100vh;
  /* width: 100vw; */
  position: relative;
}
.title{
  color:#99154E;
  font-size: 60px;
  font-family: 'Courgette', cursive;
}
.home-page{
  background-color: #FDEFF4;
  height:100vh;
  padding:50px;
  display: grid;
  gap:40px;
  place-items: center;
  overflow: auto;
  
}
.quote-card-container{
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  grid-auto-rows: 210px;
  padding:30px;
  gap:20px;
  place-content: center;
}
.quote-card{
  background-color: white;
  display: grid;
  grid-template-rows: auto auto 20px;
  border:solid 2px rgba(0, 0, 0, 0.2);
  padding:20px;
  gap:10px;
}
.fa-quote-left{
  font-size: 30px;
  justify-self: start;
  color:#99154E;
  
}
.quote-content{
  font-size: 14px;
  font-style: italic;
  color:#2C3333;
}
.author{
  justify-self: end;
  font-size:14px;
  color:#7F7C82;
}